# Лабораторная работа 1
Pandas

Выполнил: 6133-010402D, Харитонов Никита Владимирович

1 Считать в pandas DataFrame любой источник данных:  CSV, JSON, Excel-файл, HTML-таблицу, встроенный датасет sklearn. Опишите ваши данные, что обозначает каждый столбец, какого типа (категориальный, вещественный, целочисленный, бинарный) данный столбец, при необходимости для категориальных в том числе бинарных признаков привести расшифровку их значений. В общем, проведите "визуальный" анализ ваших данных.

In [1]:
!pip install palmerpenguins

Requirement already satisfied: palmerpenguins in /usr/local/lib/python3.7/dist-packages (0.1.4)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from palmerpenguins) (1.21.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from palmerpenguins) (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->palmerpenguins) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->palmerpenguins) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->palmerpenguins) (1.15.0)

In [2]:
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt
from palmerpenguins import load_penguins

data = load_penguins()
data.dtypes

species               object
island                object
bill_length_mm       float64
bill_depth_mm        float64
flipper_length_mm    float64
body_mass_g          float64
sex                   object
year                   int64
dtype: object

In [3]:
# print unique values of a few columns
for col in ['species', 'island', 'sex', 'year']:
  print(f'{col} = {data[col].unique()}')

species = ['Adelie' 'Gentoo' 'Chinstrap']
island = ['Torgersen' 'Biscoe' 'Dream']
sex = ['male' 'female' nan]
year = [2007 2008 2009]

In [4]:
# вещественные колонки:
# - bill_length_mm        длина клюва пингвина в мм
# - bill_depth_mm         высота клюва пингвина в мм
# - flipper_length_mm     длина плавника пингвина в мм
# - body_mass_g           масса тела пингвина в граммах

# целочисленные колонки:
# - year                  год проведения исследования: 2007, 2008 и 2009

# категориальный колонки:
# - species               биологический вид пингвина: пингвин Адели, cубантарктический пингвин и антарктический пингвин (^_^)
# - island                остров, на котором пингвин был исследован: Торгерсен, Биско и Дрим
# - sex                   пол пингвина: муж, жен и неопределённый

2 Выполните с датафреймом следующие операции (многие операции можно совершить не одним способом, используйте все известные вам способы, поищите/придумайте новые способы) :

2.1 вывод таблицы

In [5]:
data

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

In [6]:
print(data)

       species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
0       Adelie  Torgersen            39.1           18.7              181.0
1       Adelie  Torgersen            39.5           17.4              186.0
2       Adelie  Torgersen            40.3           18.0              195.0
3       Adelie  Torgersen             NaN            NaN                NaN
4       Adelie  Torgersen            36.7           19.3              193.0
..         ...        ...             ...            ...                ...
339  Chinstrap      Dream            55.8           19.8              207.0
340  Chinstrap      Dream            43.5           18.1              202.0
341  Chinstrap      Dream            49.6           18.2              193.0
342  Chinstrap      Dream            50.8           19.0              210.0
343  Chinstrap      Dream            50.2           18.7              198.0

     body_mass_g     sex  year
0         3750.0    male  2007
1         3800.0  female  2007
2         3250.0  female  2007
3            NaN     NaN  2007
4         3450.0  female  2007
..           ...     ...   ...
339       4000.0    male  2009
340       3400.0  female  2009
341       3775.0    male  2009
342       4100.0    male  2009
343       3775.0  female  2009

[344 rows x 8 columns]

In [7]:
print(data.to_string())

       species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g     sex  year
0       Adelie  Torgersen            39.1           18.7              181.0       3750.0    male  2007
1       Adelie  Torgersen            39.5           17.4              186.0       3800.0  female  2007
2       Adelie  Torgersen            40.3           18.0              195.0       3250.0  female  2007
3       Adelie  Torgersen             NaN            NaN                NaN          NaN     NaN  2007
4       Adelie  Torgersen            36.7           19.3              193.0       3450.0  female  2007
5       Adelie  Torgersen            39.3           20.6              190.0       3650.0    male  2007
6       Adelie  Torgersen            38.9           17.8              181.0       3625.0  female  2007
7       Adelie  Torgersen            39.2           19.6              195.0       4675.0    male  2007
8       Adelie  Torgersen            34.1           18.1              193.0       3475.0     NaN  2007
9       Adelie  Torgersen            42.0           20.2              190.0       4250.0     NaN  2007
10      Adelie  Torgersen            37.8           17.1              186.0       3300.0     NaN  2007
11      Adelie  Torgersen            37.8           17.3              180.0       3700.0     NaN  2007
12      Adelie  Torgersen            41.1           17.6              182.0       3200.0  female  2007
13      Adelie  Torgersen            38.6           21.2              191.0       3800.0    male  2007
14      Adelie  Torgersen            34.6           21.1              198.0       4400.0    male  2007
15      Adelie  Torgersen            36.6           17.8              185.0       3700.0  female  2007
16      Adelie  Torgersen            38.7           19.0              195.0       3450.0  female  2007
17      Adelie  Torgersen            42.5           20.7              197.0       4500.0    male  2007
18      Adelie  Torgersen            34.4           18.4              184.0       3325.0  female  2007
19      Adelie  Torgersen            46.0           21.5              194.0       4200.0    male  2007
20      Adelie     Biscoe            37.8           18.3              174.0       3400.0  female  2007
21      Adelie     Biscoe            37.7           18.7              180.0       3600.0    male  2007
22      Adelie     Biscoe            35.9           19.2              189.0       3800.0  female  2007
23      Adelie     Biscoe            38.2           18.1              185.0       3950.0    male  2007
24      Adelie     Biscoe            38.8           17.2              180.0       3800.0    male  2007
25      Adelie     Biscoe            35.3           18.9              187.0       3800.0  female  2007
26      Adelie     Biscoe            40.6           18.6              183.0       3550.0    male  2007
27      Adelie     Biscoe            40.5           17.9              187.0       3200.0  female  2007
28      Adelie     Biscoe            37.9           18.6              172.0       3150.0  female  2007
29      Adelie     Biscoe            40.5           18.9              180.0       3950.0    male  2007
30      Adelie      Dream            39.5           16.7              178.0       3250.0  female  2007
31      Adelie      Dream            37.2           18.1              178.0       3900.0    male  2007
32      Adelie      Dream            39.5           17.8              188.0       3300.0  female  2007
33      Adelie      Dream            40.9           18.9              184.0       3900.0    male  2007
34      Adelie      Dream            36.4           17.0              195.0       3325.0  female  2007
35      Adelie      Dream            39.2           21.1              196.0       4150.0    male  2007
36      Adelie      Dream            38.8           20.0              190.0       3950.0    male  2007
37      Adelie      Dream            42.2           18.5              180.0       3550.0  female  2007
38      Adelie      Dream            37.6           19.3              181.0       3300.0  female  2007
39      Adelie      Dream            39.8           19.1              184.0       4650.0    male  2007
40      Adelie      Dream            36.5           18.0              182.0       3150.0  female  2007
41      Adelie      Dream            40.8           18.4              195.0       3900.0    male  2007
42      Adelie      Dream            36.0           18.5              186.0       3100.0  female  2007
43      Adelie      Dream            44.1           19.7              196.0       4400.0    male  2007
44      Adelie      Dream            37.0           16.9              185.0       3000.0  female  2007
45      Adelie      Dream            39.6           18.8              190.0       4600.0    male  2007
46      Adelie      Dream            41.1           19.0              182.0       3425.0    male  2007
47      Adelie      Dream            37.5           18.9              179.0       2975.0     NaN  2007
48      Adelie      Dream            36.0           17.9              190.0       3450.0  female  2007
49      Adelie      Dream            42.3           21.2              191.0       4150.0    male  2007
50      Adelie     Biscoe            39.6           17.7              186.0       3500.0  female  2008
51      Adelie     Biscoe            40.1           18.9              188.0       4300.0    male  2008
52      Adelie     Biscoe            35.0           17.9              190.0       3450.0  female  2008
53      Adelie     Biscoe            42.0           19.5              200.0       4050.0    male  2008
54      Adelie     Biscoe            34.5           18.1              187.0       2900.0  female  2008
55      Adelie     Biscoe            41.4           18.6              191.0       3700.0    male  2008
56      Adelie     Biscoe            39.0           17.5              186.0       3550.0  female  2008
57      Adelie     Biscoe            40.6           18.8              193.0       3800.0    male  2008
58      Adelie     Biscoe            36.5           16.6              181.0       2850.0  female  2008
59      Adelie     Biscoe            37.6           19.1              194.0       3750.0    male  2008
60      Adelie     Biscoe            35.7           16.9              185.0       3150.0  female  2008
61      Adelie     Biscoe            41.3           21.1              195.0       4400.0    male  2008
62      Adelie     Biscoe            37.6           17.0              185.0       3600.0  female  2008
63      Adelie     Biscoe            41.1           18.2              192.0       4050.0    male  2008
64      Adelie     Biscoe            36.4           17.1              184.0       2850.0  female  2008
65      Adelie     Biscoe            41.6           18.0              192.0       3950.0    male  2008
66      Adelie     Biscoe            35.5           16.2              195.0       3350.0  female  2008
67      Adelie     Biscoe            41.1           19.1              188.0       4100.0    male  2008
68      Adelie  Torgersen            35.9           16.6              190.0       3050.0  female  2008
69      Adelie  Torgersen            41.8           19.4              198.0       4450.0    male  2008
70      Adelie  Torgersen            33.5           19.0              190.0       3600.0  female  2008
71      Adelie  Torgersen            39.7           18.4              190.0       3900.0    male  2008
72      Adelie  Torgersen            39.6           17.2              196.0       3550.0  female  2008
73      Adelie  Torgersen            45.8           18.9              197.0       4150.0    male  2008
74      Adelie  Torgersen            35.5           17.5              190.0       3700.0  female  2008
75      Adelie  Torgersen            42.8           18.5              195.0       4250.0    male  2008
76      Adelie  Torgersen            40.9           16.8              191.0       3700.0  female  2008
77      Adelie  Torgersen            37.2           19.4              184.0       3900.0    male  2008
78      Adelie  Torgersen            36.2           16.1              187.0       3550.0  female  2008
79      Adelie  Torgersen            42.1           19.1              195.0       4000.0    male  2008
80      Adelie  Torgersen            34.6           17.2              189.0       3200.0  female  2008
81      Adelie  Torgersen            42.9           17.6              196.0       4700.0    male  2008
82      Adelie  Torgersen            36.7           18.8              187.0       3800.0  female  2008
83      Adelie  Torgersen            35.1           19.4              193.0       4200.0    male  2008
84      Adelie      Dream            37.3           17.8              191.0       3350.0  female  2008
85      Adelie      Dream            41.3           20.3              194.0       3550.0    male  2008
86      Adelie      Dream            36.3           19.5              190.0       3800.0    male  2008
87      Adelie      Dream            36.9           18.6              189.0       3500.0  female  2008
88      Adelie      Dream            38.3           19.2              189.0       3950.0    male  2008
89      Adelie      Dream            38.9           18.8              190.0       3600.0  female  2008
90      Adelie      Dream            35.7           18.0              202.0       3550.0  female  2008
91      Adelie      Dream            41.1           18.1              205.0       4300.0    male  2008
92      Adelie      Dream            34.0           17.1              185.0       3400.0  female  2008
93      Adelie      Dream            39.6           18.1              186.0       4450.0    male  2008
94      Adelie      Dream            36.2           17.3              187.0       3300.0  female  2008
95      Adelie      Dream            40.8           18.9              208.0       4300.0    male  2008
96      Adelie      Dream            38.1           18.6              190.0       3700.0  female  2008
97      Adelie      Dream            40.3           18.5              196.0       4350.0    male  2008
98      Adelie      Dream            33.1           16.1              178.0       2900.0  female  2008
99      Adelie      Dream            43.2           18.5              192.0       4100.0    male  2008
100     Adelie     Biscoe            35.0           17.9              192.0       3725.0  female  2009
101     Adelie     Biscoe            41.0           20.0              203.0       4725.0    male  2009
102     Adelie     Biscoe            37.7           16.0              183.0       3075.0  female  2009
103     Adelie     Biscoe            37.8           20.0              190.0       4250.0    male  2009
104     Adelie     Biscoe            37.9           18.6              193.0       2925.0  female  2009
105     Adelie     Biscoe            39.7           18.9              184.0       3550.0    male  2009
106     Adelie     Biscoe            38.6           17.2              199.0       3750.0  female  2009
107     Adelie     Biscoe            38.2           20.0              190.0       3900.0    male  2009
108     Adelie     Biscoe            38.1           17.0              181.0       3175.0  female  2009
109     Adelie     Biscoe            43.2           19.0              197.0       4775.0    male  2009
110     Adelie     Biscoe            38.1           16.5              198.0       3825.0  female  2009
111     Adelie     Biscoe            45.6           20.3              191.0       4600.0    male  2009
112     Adelie     Biscoe            39.7           17.7              193.0       3200.0  female  2009
113     Adelie     Biscoe            42.2           19.5              197.0       4275.0    male  2009
114     Adelie     Biscoe            39.6           20.7              191.0       3900.0  female  2009
115     Adelie     Biscoe            42.7           18.3              196.0       4075.0    male  2009
116     Adelie  Torgersen            38.6           17.0              188.0       2900.0  female  2009
117     Adelie  Torgersen            37.3           20.5              199.0       3775.0    male  2009
118     Adelie  Torgersen            35.7           17.0              189.0       3350.0  female  2009
119     Adelie  Torgersen            41.1           18.6              189.0       3325.0    male  2009
120     Adelie  Torgersen            36.2           17.2              187.0       3150.0  female  2009
121     Adelie  Torgersen            37.7           19.8              198.0       3500.0    male  2009
122     Adelie  Torgersen            40.2           17.0              176.0       3450.0  female  2009
123     Adelie  Torgersen            41.4           18.5              202.0       3875.0    male  2009
124     Adelie  Torgersen            35.2           15.9              186.0       3050.0  female  2009
125     Adelie  Torgersen            40.6           19.0              199.0       4000.0    male  2009
126     Adelie  Torgersen            38.8           17.6              191.0       3275.0  female  2009
127     Adelie  Torgersen            41.5           18.3              195.0       4300.0    male  2009
128     Adelie  Torgersen            39.0           17.1              191.0       3050.0  female  2009
129     Adelie  Torgersen            44.1           18.0              210.0       4000.0    male  2009
130     Adelie  Torgersen            38.5           17.9              190.0       3325.0  female  2009
131     Adelie  Torgersen            43.1           19.2              197.0       3500.0    male  2009
132     Adelie      Dream            36.8           18.5              193.0       3500.0  female  2009
133     Adelie      Dream            37.5           18.5              199.0       4475.0    male  2009
134     Adelie      Dream            38.1           17.6              187.0       3425.0  female  2009
135     Adelie      Dream            41.1           17.5              190.0       3900.0    male  2009
136     Adelie      Dream            35.6           17.5              191.0       3175.0  female  2009
137     Adelie      Dream            40.2           20.1              200.0       3975.0    male  2009
138     Adelie      Dream            37.0           16.5              185.0       3400.0  female  2009
139     Adelie      Dream            39.7           17.9              193.0       4250.0    male  2009
140     Adelie      Dream            40.2           17.1              193.0       3400.0  female  2009
141     Adelie      Dream            40.6           17.2              187.0       3475.0    male  2009
142     Adelie      Dream            32.1           15.5              188.0       3050.0  female  2009
143     Adelie      Dream            40.7           17.0              190.0       3725.0    male  2009
144     Adelie      Dream            37.3           16.8              192.0       3000.0  female  2009
145     Adelie      Dream            39.0           18.7              185.0       3650.0    male  2009
146     Adelie      Dream            39.2           18.6              190.0       4250.0    male  2009
147     Adelie      Dream            36.6           18.4              184.0       3475.0  female  2009
148     Adelie      Dream            36.0           17.8              195.0       3450.0  female  2009
149     Adelie      Dream            37.8           18.1              193.0       3750.0    male  2009
150     Adelie      Dream            36.0           17.1              187.0       3700.0  female  2009
151     Adelie      Dream            41.5           18.5              201.0       4000.0    male  2009
152     Gentoo     Biscoe            46.1           13.2              211.0       4500.0  female  2007
153     Gentoo     Biscoe            50.0           16.3              230.0       5700.0    male  2007
154     Gentoo     Biscoe            48.7           14.1              210.0       4450.0  female  2007
155     Gentoo     Biscoe            50.0           15.2              218.0       5700.0    male  2007
156     Gentoo     Biscoe            47.6           14.5              215.0       5400.0    male  2007
157     Gentoo     Biscoe            46.5           13.5              210.0       4550.0  female  2007
158     Gentoo     Biscoe            45.4           14.6              211.0       4800.0  female  2007
159     Gentoo     Biscoe            46.7           15.3              219.0       5200.0    male  2007
160     Gentoo     Biscoe            43.3           13.4              209.0       4400.0  female  2007
161     Gentoo     Biscoe            46.8           15.4              215.0       5150.0    male  2007
162     Gentoo     Biscoe            40.9           13.7              214.0       4650.0  female  2007
163     Gentoo     Biscoe            49.0           16.1              216.0       5550.0    male  2007
164     Gentoo     Biscoe            45.5           13.7              214.0       4650.0  female  2007
165     Gentoo     Biscoe            48.4           14.6              213.0       5850.0    male  2007
166     Gentoo     Biscoe            45.8           14.6              210.0       4200.0  female  2007
167     Gentoo     Biscoe            49.3           15.7              217.0       5850.0    male  2007
168     Gentoo     Biscoe            42.0           13.5              210.0       4150.0  female  2007
169     Gentoo     Biscoe            49.2           15.2              221.0       6300.0    male  2007
170     Gentoo     Biscoe            46.2           14.5              209.0       4800.0  female  2007
171     Gentoo     Biscoe            48.7           15.1              222.0       5350.0    male  2007
172     Gentoo     Biscoe            50.2           14.3              218.0       5700.0    male  2007
173     Gentoo     Biscoe            45.1           14.5              215.0       5000.0  female  2007
174     Gentoo     Biscoe            46.5           14.5              213.0       4400.0  female  2007
175     Gentoo     Biscoe            46.3           15.8              215.0       5050.0    male  2007
176     Gentoo     Biscoe            42.9           13.1              215.0       5000.0  female  2007
177     Gentoo     Biscoe            46.1           15.1              215.0       5100.0    male  2007
178     Gentoo     Biscoe            44.5           14.3              216.0       4100.0     NaN  2007
179     Gentoo     Biscoe            47.8           15.0              215.0       5650.0    male  2007
180     Gentoo     Biscoe            48.2           14.3              210.0       4600.0  female  2007
181     Gentoo     Biscoe            50.0           15.3              220.0       5550.0    male  2007
182     Gentoo     Biscoe            47.3           15.3              222.0       5250.0    male  2007
183     Gentoo     Biscoe            42.8           14.2              209.0       4700.0  female  2007
184     Gentoo     Biscoe            45.1           14.5              207.0       5050.0  female  2007
185     Gentoo     Biscoe            59.6           17.0              230.0       6050.0    male  2007
186     Gentoo     Biscoe            49.1           14.8              220.0       5150.0  female  2008
187     Gentoo     Biscoe            48.4           16.3              220.0       5400.0    male  2008
188     Gentoo     Biscoe            42.6           13.7              213.0       4950.0  female  2008
189     Gentoo     Biscoe            44.4           17.3              219.0       5250.0    male  2008
190     Gentoo     Biscoe            44.0           13.6              208.0       4350.0  female  2008
191     Gentoo     Biscoe            48.7           15.7              208.0       5350.0    male  2008
192     Gentoo     Biscoe            42.7           13.7              208.0       3950.0  female  2008

In [8]:
print(data.to_markdown())

|     | species   | island    |   bill_length_mm |   bill_depth_mm |   flipper_length_mm |   body_mass_g | sex    |   year |
|----:|:----------|:----------|-----------------:|----------------:|--------------------:|--------------:|:-------|-------:|
|   0 | Adelie    | Torgersen |             39.1 |            18.7 |                 181 |          3750 | male   |   2007 |
|   1 | Adelie    | Torgersen |             39.5 |            17.4 |                 186 |          3800 | female |   2007 |
|   2 | Adelie    | Torgersen |             40.3 |            18   |                 195 |          3250 | female |   2007 |
|   3 | Adelie    | Torgersen |            nan   |           nan   |                 nan |           nan | nan    |   2007 |
|   4 | Adelie    | Torgersen |             36.7 |            19.3 |                 193 |          3450 | female |   2007 |
|   5 | Adelie    | Torgersen |             39.3 |            20.6 |                 190 |          3650 | male   |   2007 |
|   6 | Adelie    | Torgersen |             38.9 |            17.8 |                 181 |          3625 | female |   2007 |
|   7 | Adelie    | Torgersen |             39.2 |            19.6 |                 195 |          4675 | male   |   2007 |
|   8 | Adelie    | Torgersen |             34.1 |            18.1 |                 193 |          3475 | nan    |   2007 |
|   9 | Adelie    | Torgersen |             42   |            20.2 |                 190 |          4250 | nan    |   2007 |
|  10 | Adelie    | Torgersen |             37.8 |            17.1 |                 186 |          3300 | nan    |   2007 |
|  11 | Adelie    | Torgersen |             37.8 |            17.3 |                 180 |          3700 | nan    |   2007 |
|  12 | Adelie    | Torgersen |             41.1 |            17.6 |                 182 |          3200 | female |   2007 |
|  13 | Adelie    | Torgersen |             38.6 |            21.2 |                 191 |          3800 | male   |   2007 |
|  14 | Adelie    | Torgersen |             34.6 |            21.1 |                 198 |          4400 | male   |   2007 |
|  15 | Adelie    | Torgersen |             36.6 |            17.8 |                 185 |          3700 | female |   2007 |
|  16 | Adelie    | Torgersen |             38.7 |            19   |                 195 |          3450 | female |   2007 |
|  17 | Adelie    | Torgersen |             42.5 |            20.7 |                 197 |          4500 | male   |   2007 |
|  18 | Adelie    | Torgersen |             34.4 |            18.4 |                 184 |          3325 | female |   2007 |
|  19 | Adelie    | Torgersen |             46   |            21.5 |                 194 |          4200 | male   |   2007 |
|  20 | Adelie    | Biscoe    |             37.8 |            18.3 |                 174 |          3400 | female |   2007 |
|  21 | Adelie    | Biscoe    |             37.7 |            18.7 |                 180 |          3600 | male   |   2007 |
|  22 | Adelie    | Biscoe    |             35.9 |            19.2 |                 189 |          3800 | female |   2007 |
|  23 | Adelie    | Biscoe    |             38.2 |            18.1 |                 185 |          3950 | male   |   2007 |
|  24 | Adelie    | Biscoe    |             38.8 |            17.2 |                 180 |          3800 | male   |   2007 |
|  25 | Adelie    | Biscoe    |             35.3 |            18.9 |                 187 |          3800 | female |   2007 |
|  26 | Adelie    | Biscoe    |             40.6 |            18.6 |                 183 |          3550 | male   |   2007 |
|  27 | Adelie    | Biscoe    |             40.5 |            17.9 |                 187 |          3200 | female |   2007 |
|  28 | Adelie    | Biscoe    |             37.9 |            18.6 |                 172 |          3150 | female |   2007 |
|  29 | Adelie    | Biscoe    |             40.5 |            18.9 |                 180 |          3950 | male   |   2007 |
|  30 | Adelie    | Dream     |             39.5 |            16.7 |                 178 |          3250 | female |   2007 |
|  31 | Adelie    | Dream     |             37.2 |            18.1 |                 178 |          3900 | male   |   2007 |
|  32 | Adelie    | Dream     |             39.5 |            17.8 |                 188 |          3300 | female |   2007 |
|  33 | Adelie    | Dream     |             40.9 |            18.9 |                 184 |          3900 | male   |   2007 |
|  34 | Adelie    | Dream     |             36.4 |            17   |                 195 |          3325 | female |   2007 |
|  35 | Adelie    | Dream     |             39.2 |            21.1 |                 196 |          4150 | male   |   2007 |
|  36 | Adelie    | Dream     |             38.8 |            20   |                 190 |          3950 | male   |   2007 |
|  37 | Adelie    | Dream     |             42.2 |            18.5 |                 180 |          3550 | female |   2007 |
|  38 | Adelie    | Dream     |             37.6 |            19.3 |                 181 |          3300 | female |   2007 |
|  39 | Adelie    | Dream     |             39.8 |            19.1 |                 184 |          4650 | male   |   2007 |
|  40 | Adelie    | Dream     |             36.5 |            18   |                 182 |          3150 | female |   2007 |
|  41 | Adelie    | Dream     |             40.8 |            18.4 |                 195 |          3900 | male   |   2007 |
|  42 | Adelie    | Dream     |             36   |            18.5 |                 186 |          3100 | female |   2007 |
|  43 | Adelie    | Dream     |             44.1 |            19.7 |                 196 |          4400 | male   |   2007 |
|  44 | Adelie    | Dream     |             37   |            16.9 |                 185 |          3000 | female |   2007 |
|  45 | Adelie    | Dream     |             39.6 |            18.8 |                 190 |          4600 | male   |   2007 |
|  46 | Adelie    | Dream     |             41.1 |            19   |                 182 |          3425 | male   |   2007 |
|  47 | Adelie    | Dream     |             37.5 |            18.9 |                 179 |          2975 | nan    |   2007 |
|  48 | Adelie    | Dream     |             36   |            17.9 |                 190 |          3450 | female |   2007 |
|  49 | Adelie    | Dream     |             42.3 |            21.2 |                 191 |          4150 | male   |   2007 |
|  50 | Adelie    | Biscoe    |             39.6 |            17.7 |                 186 |          3500 | female |   2008 |
|  51 | Adelie    | Biscoe    |             40.1 |            18.9 |                 188 |          4300 | male   |   2008 |
|  52 | Adelie    | Biscoe    |             35   |            17.9 |                 190 |          3450 | female |   2008 |
|  53 | Adelie    | Biscoe    |             42   |            19.5 |                 200 |          4050 | male   |   2008 |
|  54 | Adelie    | Biscoe    |             34.5 |            18.1 |                 187 |          2900 | female |   2008 |
|  55 | Adelie    | Biscoe    |             41.4 |            18.6 |                 191 |          3700 | male   |   2008 |
|  56 | Adelie    | Biscoe    |             39   |            17.5 |                 186 |          3550 | female |   2008 |
|  57 | Adelie    | Biscoe    |             40.6 |            18.8 |                 193 |          3800 | male   |   2008 |
|  58 | Adelie    | Biscoe    |             36.5 |            16.6 |                 181 |          2850 | female |   2008 |
|  59 | Adelie    | Biscoe    |             37.6 |            19.1 |                 194 |          3750 | male   |   2008 |
|  60 | Adelie    | Biscoe    |             35.7 |            16.9 |                 185 |          3150 | female |   2008 |
|  61 | Adelie    | Biscoe    |             41.3 |            21.1 |                 195 |          4400 | male   |   2008 |
|  62 | Adelie    | Biscoe    |             37.6 |            17   |                 185 |          3600 | female |   2008 |
|  63 | Adelie    | Biscoe    |             41.1 |            18.2 |                 192 |          4050 | male   |   2008 |
|  64 | Adelie    | Biscoe    |             36.4 |            17.1 |                 184 |          2850 | female |   2008 |
|  65 | Adelie    | Biscoe    |             41.6 |            18   |                 192 |          3950 | male   |   2008 |
|  66 | Adelie    | Biscoe    |             35.5 |            16.2 |                 195 |          3350 | female |   2008 |
|  67 | Adelie    | Biscoe    |             41.1 |            19.1 |                 188 |          4100 | male   |   2008 |
|  68 | Adelie    | Torgersen |             35.9 |            16.6 |                 190 |          3050 | female |   2008 |
|  69 | Adelie    | Torgersen |             41.8 |            19.4 |                 198 |          4450 | male   |   2008 |
|  70 | Adelie    | Torgersen |             33.5 |            19   |                 190 |          3600 | female |   2008 |
|  71 | Adelie    | Torgersen |             39.7 |            18.4 |                 190 |          3900 | male   |   2008 |
|  72 | Adelie    | Torgersen |             39.6 |            17.2 |                 196 |          3550 | female |   2008 |
|  73 | Adelie    | Torgersen |             45.8 |            18.9 |                 197 |          4150 | male   |   2008 |
|  74 | Adelie    | Torgersen |             35.5 |            17.5 |                 190 |          3700 | female |   2008 |
|  75 | Adelie    | Torgersen |             42.8 |            18.5 |                 195 |          4250 | male   |   2008 |
|  76 | Adelie    | Torgersen |             40.9 |            16.8 |                 191 |          3700 | female |   2008 |
|  77 | Adelie    | Torgersen |             37.2 |            19.4 |                 184 |          3900 | male   |   2008 |
|  78 | Adelie    | Torgersen |             36.2 |            16.1 |                 187 |          3550 | female |   2008 |
|  79 | Adelie    | Torgersen |             42.1 |            19.1 |                 195 |          4000 | male   |   2008 |
|  80 | Adelie    | Torgersen |             34.6 |            17.2 |                 189 |          3200 | female |   2008 |
|  81 | Adelie    | Torgersen |             42.9 |            17.6 |                 196 |          4700 | male   |   2008 |
|  82 | Adelie    | Torgersen |             36.7 |            18.8 |                 187 |          3800 | female |   2008 |
|  83 | Adelie    | Torgersen |             35.1 |            19.4 |                 193 |          4200 | male   |   2008 |
|  84 | Adelie    | Dream     |             37.3 |            17.8 |                 191 |          3350 | female |   2008 |
|  85 | Adelie    | Dream     |             41.3 |            20.3 |                 194 |          3550 | male   |   2008 |
|  86 | Adelie    | Dream     |             36.3 |            19.5 |                 190 |          3800 | male   |   2008 |
|  87 | Adelie    | Dream     |             36.9 |            18.6 |                 189 |          3500 | female |   2008 |
|  88 | Adelie    | Dream     |             38.3 |            19.2 |                 189 |          3950 | male   |   2008 |
|  89 | Adelie    | Dream     |             38.9 |            18.8 |                 190 |          3600 | female |   2008 |
|  90 | Adelie    | Dream     |             35.7 |            18   |                 202 |          3550 | female |   2008 |
|  91 | Adelie    | Dream     |             41.1 |            18.1 |                 205 |          4300 | male   |   2008 |
|  92 | Adelie    | Dream     |             34   |            17.1 |                 185 |          3400 | female |   2008 |
|  93 | Adelie    | Dream     |             39.6 |            18.1 |                 186 |          4450 | male   |   2008 |
|  94 | Adelie    | Dream     |             36.2 |            17.3 |                 187 |          3300 | female |   2008 |
|  95 | Adelie    | Dream     |             40.8 |            18.9 |                 208 |          4300 | male   |   2008 |
|  96 | Adelie    | Dream     |             38.1 |            18.6 |                 190 |          3700 | female |   2008 |
|  97 | Adelie    | Dream     |             40.3 |            18.5 |                 196 |          4350 | male   |   2008 |
|  98 | Adelie    | Dream     |             33.1 |            16.1 |                 178 |          2900 | female |   2008 |
|  99 | Adelie    | Dream     |             43.2 |            18.5 |                 192 |          4100 | male   |   2008 |
| 100 | Adelie    | Biscoe    |             35   |            17.9 |                 192 |          3725 | female |   2009 |
| 101 | Adelie    | Biscoe    |             41   |            20   |                 203 |          4725 | male   |   2009 |
| 102 | Adelie    | Biscoe    |             37.7 |            16   |                 183 |          3075 | female |   2009 |
| 103 | Adelie    | Biscoe    |             37.8 |            20   |                 190 |          4250 | male   |   2009 |
| 104 | Adelie    | Biscoe    |             37.9 |            18.6 |                 193 |          2925 | female |   2009 |
| 105 | Adelie    | Biscoe    |             39.7 |            18.9 |                 184 |          3550 | male   |   2009 |
| 106 | Adelie    | Biscoe    |             38.6 |            17.2 |                 199 |          3750 | female |   2009 |
| 107 | Adelie    | Biscoe    |             38.2 |            20   |                 190 |          3900 | male   |   2009 |
| 108 | Adelie    | Biscoe    |             38.1 |            17   |                 181 |          3175 | female |   2009 |
| 109 | Adelie    | Biscoe    |             43.2 |            19   |                 197 |          4775 | male   |   2009 |
| 110 | Adelie    | Biscoe    |             38.1 |            16.5 |                 198 |          3825 | female |   2009 |
| 111 | Adelie    | Biscoe    |             45.6 |            20.3 |                 191 |          4600 | male   |   2009 |
| 112 | Adelie    | Biscoe    |             39.7 |            17.7 |                 193 |          3200 | female |   2009 |
| 113 | Adelie    | Biscoe    |             42.2 |            19.5 |                 197 |          4275 | male   |   2009 |
| 114 | Adelie    | Biscoe    |             39.6 |            20.7 |                 191 |          3900 | female |   2009 |
| 115 | Adelie    | Biscoe    |             42.7 |            18.3 |                 196 |          4075 | male   |   2009 |
| 116 | Adelie    | Torgersen |             38.6 |            17   |                 188 |          2900 | female |   2009 |
| 117 | Adelie    | Torgersen |             37.3 |            20.5 |                 199 |          3775 | male   |   2009 |
| 118 | Adelie    | Torgersen |             35.7 |            17   |                 189 |          3350 | female |   2009 |
| 119 | Adelie    | Torgersen |             41.1 |            18.6 |                 189 |          3325 | male   |   2009 |
| 120 | Adelie    | Torgersen |             36.2 |            17.2 |                 187 |          3150 | female |   2009 |
| 121 | Adelie    | Torgersen |             37.7 |            19.8 |                 198 |          3500 | male   |   2009 |
| 122 | Adelie    | Torgersen |             40.2 |            17   |                 176 |          3450 | female |   2009 |
| 123 | Adelie    | Torgersen |             41.4 |            18.5 |                 202 |          3875 | male   |   2009 |
| 124 | Adelie    | Torgersen |             35.2 |            15.9 |                 186 |          3050 | female |   2009 |
| 125 | Adelie    | Torgersen |             40.6 |            19   |                 199 |          4000 | male   |   2009 |
| 126 | Adelie    | Torgersen |             38.8 |            17.6 |                 191 |          3275 | female |   2009 |
| 127 | Adelie    | Torgersen |             41.5 |            18.3 |                 195 |          4300 | male   |   2009 |
| 128 | Adelie    | Torgersen |             39   |            17.1 |                 191 |          3050 | female |   2009 |
| 129 | Adelie    | Torgersen |             44.1 |            18   |                 210 |          4000 | male   |   2009 |
| 130 | Adelie    | Torgersen |             38.5 |            17.9 |                 190 |          3325 | female |   2009 |
| 131 | Adelie    | Torgersen |             43.1 |            19.2 |                 197 |          3500 | male   |   2009 |
| 132 | Adelie    | Dream     |             36.8 |            18.5 |                 193 |          3500 | female |   2009 |
| 133 | Adelie    | Dream     |             37.5 |            18.5 |                 199 |          4475 | male   |   2009 |
| 134 | Adelie    | Dream     |             38.1 |            17.6 |                 187 |          3425 | female |   2009 |
| 135 | Adelie    | Dream     |             41.1 |            17.5 |                 190 |          3900 | male   |   2009 |
| 136 | Adelie    | Dream     |             35.6 |            17.5 |                 191 |          3175 | female |   2009 |
| 137 | Adelie    | Dream     |             40.2 |            20.1 |                 200 |          3975 | male   |   2009 |
| 138 | Adelie    | Dream     |             37   |            16.5 |                 185 |          3400 | female |   2009 |
| 139 | Adelie    | Dream     |             39.7 |            17.9 |                 193 |          4250 | male   |   2009 |
| 140 | Adelie    | Dream     |             40.2 |            17.1 |                 193 |          3400 | female |   2009 |
| 141 | Adelie    | Dream     |             40.6 |            17.2 |                 187 |          3475 | male   |   2009 |
| 142 | Adelie    | Dream     |             32.1 |            15.5 |                 188 |          3050 | female |   2009 |
| 143 | Adelie    | Dream     |             40.7 |            17   |                 190 |          3725 | male   |   2009 |
| 144 | Adelie    | Dream     |             37.3 |            16.8 |                 192 |          3000 | female |   2009 |
| 145 | Adelie    | Dream     |             39   |            18.7 |                 185 |          3650 | male   |   2009 |
| 146 | Adelie    | Dream     |             39.2 |            18.6 |                 190 |          4250 | male   |   2009 |
| 147 | Adelie    | Dream     |             36.6 |            18.4 |                 184 |          3475 | female |   2009 |
| 148 | Adelie    | Dream     |             36   |            17.8 |                 195 |          3450 | female |   2009 |
| 149 | Adelie    | Dream     |             37.8 |            18.1 |                 193 |          3750 | male   |   2009 |
| 150 | Adelie    | Dream     |             36   |            17.1 |                 187 |          3700 | female |   2009 |
| 151 | Adelie    | Dream     |             41.5 |            18.5 |                 201 |          4000 | male   |   2009 |
| 152 | Gentoo    | Biscoe    |             46.1 |            13.2 |                 211 |          4500 | female |   2007 |
| 153 | Gentoo    | Biscoe    |             50   |            16.3 |                 230 |          5700 | male   |   2007 |
| 154 | Gentoo    | Biscoe    |             48.7 |            14.1 |                 210 |          4450 | female |   2007 |
| 155 | Gentoo    | Biscoe    |             50   |            15.2 |                 218 |          5700 | male   |   2007 |
| 156 | Gentoo    | Biscoe    |             47.6 |            14.5 |                 215 |          5400 | male   |   2007 |
| 157 | Gentoo    | Biscoe    |             46.5 |            13.5 |                 210 |          4550 | female |   2007 |

2.2 вывод первых n элементов таблицы

In [9]:
n = 7
data.head(n)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,male,2007
6,Adelie,Torgersen,38.9,17.8,181.0,3625.0,female,2007

In [10]:
print(data.head().to_string())

  species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g     sex  year
0  Adelie  Torgersen            39.1           18.7              181.0       3750.0    male  2007
1  Adelie  Torgersen            39.5           17.4              186.0       3800.0  female  2007
2  Adelie  Torgersen            40.3           18.0              195.0       3250.0  female  2007
3  Adelie  Torgersen             NaN            NaN                NaN          NaN     NaN  2007
4  Adelie  Torgersen            36.7           19.3              193.0       3450.0  female  2007

In [11]:
print(data.head().to_markdown())

|    | species   | island    |   bill_length_mm |   bill_depth_mm |   flipper_length_mm |   body_mass_g | sex    |   year |
|---:|:----------|:----------|-----------------:|----------------:|--------------------:|--------------:|:-------|-------:|
|  0 | Adelie    | Torgersen |             39.1 |            18.7 |                 181 |          3750 | male   |   2007 |
|  1 | Adelie    | Torgersen |             39.5 |            17.4 |                 186 |          3800 | female |   2007 |
|  2 | Adelie    | Torgersen |             40.3 |            18   |                 195 |          3250 | female |   2007 |
|  3 | Adelie    | Torgersen |            nan   |           nan   |                 nan |           nan | nan    |   2007 |
|  4 | Adelie    | Torgersen |             36.7 |            19.3 |                 193 |          3450 | female |   2007 |

2.3 вывод последних n элементов таблицы

In [12]:
data.tail(n)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
337,Chinstrap,Dream,46.8,16.5,189.0,3650.0,female,2009
338,Chinstrap,Dream,45.7,17.0,195.0,3650.0,female,2009
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

In [13]:
print(data.tail().to_string())

       species island  bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g     sex  year
339  Chinstrap  Dream            55.8           19.8              207.0       4000.0    male  2009
340  Chinstrap  Dream            43.5           18.1              202.0       3400.0  female  2009
341  Chinstrap  Dream            49.6           18.2              193.0       3775.0    male  2009
342  Chinstrap  Dream            50.8           19.0              210.0       4100.0    male  2009
343  Chinstrap  Dream            50.2           18.7              198.0       3775.0  female  2009

In [14]:
print(data.tail().to_markdown())

|     | species   | island   |   bill_length_mm |   bill_depth_mm |   flipper_length_mm |   body_mass_g | sex    |   year |
|----:|:----------|:---------|-----------------:|----------------:|--------------------:|--------------:|:-------|-------:|
| 339 | Chinstrap | Dream    |             55.8 |            19.8 |                 207 |          4000 | male   |   2009 |
| 340 | Chinstrap | Dream    |             43.5 |            18.1 |                 202 |          3400 | female |   2009 |
| 341 | Chinstrap | Dream    |             49.6 |            18.2 |                 193 |          3775 | male   |   2009 |
| 342 | Chinstrap | Dream    |             50.8 |            19   |                 210 |          4100 | male   |   2009 |
| 343 | Chinstrap | Dream    |             50.2 |            18.7 |                 198 |          3775 | female |   2009 |

2.4 .describe()

In [15]:
data.describe()

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,year
count,342.000000,342.000000,342.000000,342.000000,344.000000
mean,43.921930,17.151170,200.915205,4201.754386,2008.029070
std,5.459584,1.974793,14.061714,801.954536,0.818356
min,32.100000,13.100000,172.000000,2700.000000,2007.000000
25%,39.225000,15.600000,190.000000,3550.000000,2007.000000
50%,44.450000,17.300000,197.000000,4050.000000,2008.000000
75%,48.500000,18.700000,213.000000,4750.000000,2009.000000
max,59.600000,21.500000,231.000000,6300.000000,2009.000000

2.5 считывание значения конкретной ячейки (с конкретным индексом из конкретной колонки)  всеми известными вам способами

In [16]:
row_number = 0
column_name = 'species'
data.loc[row_number, column_name]

'Adelie'

In [17]:
data.loc[row_number][column_name]

'Adelie'

In [18]:
column_number = 0
data.iloc[row_number, column_number]

'Adelie'

In [19]:
data.at[row_number, column_name]

'Adelie'

In [20]:
data.iat[row_number, column_number]

'Adelie'

2.6 фильтрация строк по диапазону индекса

In [21]:
from_row = 1
to_row = 3
data.loc[from_row:to_row]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007

In [22]:
data.iloc[from_row:to_row]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007

In [23]:
data.iloc[range(from_row, to_row)]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007

In [24]:
data.take(slice(from_row, to_row))

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007

2.7 фильтрация набора данных по какому-либо условию

In [25]:
data.loc[data['species'] == 'Gentoo']

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
152,Gentoo,Biscoe,46.1,13.2,211.0,4500.0,female,2007
153,Gentoo,Biscoe,50.0,16.3,230.0,5700.0,male,2007
154,Gentoo,Biscoe,48.7,14.1,210.0,4450.0,female,2007
155,Gentoo,Biscoe,50.0,15.2,218.0,5700.0,male,2007
156,Gentoo,Biscoe,47.6,14.5,215.0,5400.0,male,2007
...,...,...,...,...,...,...,...,...
271,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN,2009
272,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,female,2009
273,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,male,2009
274,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,female,2009
275,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,male,2009

In [26]:
data.loc[(data['species'] == 'Adelie') | (data['species'] == 'Gentoo')]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...
271,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN,2009
272,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,female,2009
273,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,male,2009
274,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,female,2009
275,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,male,2009

In [27]:
data.loc[data['species'].isin(['Adelie', 'Gentoo'])]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...
271,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN,2009
272,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,female,2009
273,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,male,2009
274,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,female,2009
275,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,male,2009

In [28]:
data.loc[(data['species'] == 'Gentoo') & (data['bill_length_mm'] > 50.)]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
172,Gentoo,Biscoe,50.2,14.3,218.0,5700.0,male,2007
185,Gentoo,Biscoe,59.6,17.0,230.0,6050.0,male,2007
196,Gentoo,Biscoe,50.5,15.9,222.0,5550.0,male,2008
199,Gentoo,Biscoe,50.5,15.9,225.0,5400.0,male,2008
205,Gentoo,Biscoe,50.1,15.0,225.0,5000.0,male,2008
211,Gentoo,Biscoe,50.4,15.3,224.0,5550.0,male,2008
215,Gentoo,Biscoe,54.3,15.7,231.0,5650.0,male,2008
221,Gentoo,Biscoe,50.7,15.0,223.0,5550.0,male,2008
229,Gentoo,Biscoe,51.1,16.3,220.0,6000.0,male,2008
233,Gentoo,Biscoe,52.5,15.6,221.0,5450.0,male,2009
237,Gentoo,Biscoe,50.8,17.3,228.0,5600.0,male,2009
239,Gentoo,Biscoe,51.3,14.2,218.0,5300.0,male,2009
241,Gentoo,Biscoe,52.1,17.0,230.0,5550.0,male,2009
243,Gentoo,Biscoe,52.2,17.1,228.0,5400.0,male,2009
247,Gentoo,Biscoe,50.8,15.7,226.0,5200.0,male,2009
251,Gentoo,Biscoe,51.1,16.5,225.0,5250.0,male,2009
253,Gentoo,Biscoe,55.9,17.0,228.0,5600.0,male,2009
259,Gentoo,Biscoe,53.4,15.8,219.0,5500.0,male,2009
262,Gentoo,Biscoe,50.5,15.2,216.0,5000.0,female,2009
265,Gentoo,Biscoe,51.5,16.3,230.0,5500.0,male,2009
267,Gentoo,Biscoe,55.1,16.0,230.0,5850.0,male,2009
273,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,male,2009

2.8. работа с пропущенными значениями (если они есть): удаление строк с пропущенными значениями, заполнение пропущенных значений средним значением по колонке. Если пропущенных значений нет — намеренно их "генерируете", прибивая какие-то куски данных в np.nan

In [29]:
# print rows where sex is nan
data.loc[data['sex'].isna()]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
8,Adelie,Torgersen,34.1,18.1,193.0,3475.0,NaN,2007
9,Adelie,Torgersen,42.0,20.2,190.0,4250.0,NaN,2007
10,Adelie,Torgersen,37.8,17.1,186.0,3300.0,NaN,2007
11,Adelie,Torgersen,37.8,17.3,180.0,3700.0,NaN,2007
47,Adelie,Dream,37.5,18.9,179.0,2975.0,NaN,2007
178,Gentoo,Biscoe,44.5,14.3,216.0,4100.0,NaN,2007
218,Gentoo,Biscoe,46.2,14.4,214.0,4650.0,NaN,2008
256,Gentoo,Biscoe,47.3,13.8,216.0,4725.0,NaN,2009
268,Gentoo,Biscoe,44.5,15.7,217.0,4875.0,NaN,2009
271,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN,2009

In [30]:
# drop rows where sex is nan
data = data.dropna(subset=['sex'])
# print rows where sex is nan
data.loc[data['sex'].isna()]

Empty DataFrame
Columns: [species, island, bill_length_mm, bill_depth_mm, flipper_length_mm, body_mass_g, sex, year]
Index: []

In [31]:
nan_rows = [0, 1, 179, 180, 342, 343]
numeric_columns = ['bill_length_mm', 'bill_depth_mm', 'flipper_length_mm', 'body_mass_g']

# set nan values in numeric columns in a few rows
for row in nan_rows:
  random_numeric_columns = random.sample(numeric_columns, 2)
  data.loc[row, random_numeric_columns] = np.nan

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [32]:
# print rows where any numeric column is nan
data.loc[data[numeric_columns].isna().any(axis=1)]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,NaN,181.0,NaN,male,2007
1,Adelie,Torgersen,NaN,17.4,186.0,NaN,female,2007
179,Gentoo,Biscoe,47.8,NaN,215.0,NaN,male,2007
180,Gentoo,Biscoe,48.2,NaN,NaN,4600.0,female,2007
342,Chinstrap,Dream,50.8,NaN,210.0,NaN,male,2009
343,Chinstrap,Dream,50.2,NaN,NaN,3775.0,female,2009

In [33]:
# replace nan in each numeric column by average value in this column for each species
for species in data['species'].unique():
  rows = data['species'] == species
  data.loc[rows, numeric_columns] = data.loc[rows, numeric_columns].fillna(data.loc[rows, numeric_columns].mean())

# print rows where any numeric column is nan
data.loc[data[numeric_columns].isna().any(axis=1)]

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1884: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, val, pi)

Empty DataFrame
Columns: [species, island, bill_length_mm, bill_depth_mm, flipper_length_mm, body_mass_g, sex, year]
Index: []

In [34]:
# print rows to check values that replaced nan
data.loc[nan_rows]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.10000,18.344828,181.000000,3705.208333,male,2007
1,Adelie,Torgersen,38.81931,17.400000,186.000000,3705.208333,female,2007
179,Gentoo,Biscoe,47.80000,15.002564,215.000000,5087.711864,male,2007
180,Gentoo,Biscoe,48.20000,15.002564,217.296610,4600.000000,female,2007
342,Chinstrap,Dream,50.80000,18.407576,210.000000,3727.611940,male,2009
343,Chinstrap,Dream,50.20000,18.407576,195.791045,3775.000000,female,2009

2.9. создание нового поля вычисленного на основе значений других полей:

2.9.1 через выражение на базе имеющихся колонок,

In [35]:
data['bill_length_depth_ratio'] = data['bill_length_mm'] / data['bill_depth_mm']
data

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,bill_length_depth_ratio
0,Adelie,Torgersen,39.10000,18.344828,181.000000,3705.208333,male,2007,2.131391
1,Adelie,Torgersen,38.81931,17.400000,186.000000,3705.208333,female,2007,2.230995
2,Adelie,Torgersen,40.30000,18.000000,195.000000,3250.000000,female,2007,2.238889
4,Adelie,Torgersen,36.70000,19.300000,193.000000,3450.000000,female,2007,1.901554
5,Adelie,Torgersen,39.30000,20.600000,190.000000,3650.000000,male,2007,1.907767
...,...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.80000,19.800000,207.000000,4000.000000,male,2009,2.818182
340,Chinstrap,Dream,43.50000,18.100000,202.000000,3400.000000,female,2009,2.403315
341,Chinstrap,Dream,49.60000,18.200000,193.000000,3775.000000,male,2009,2.725275
342,Chinstrap,Dream,50.80000,18.407576,210.000000,3727.611940,male,2009,2.759733
343,Chinstrap,Dream,50.20000,18.407576,195.791045,3775.000000,female,2009,2.727138

2.9.2 через DataFrame.apply

In [36]:
data['flipper_length_body_mass_ratio'] = data.apply(lambda x: x['flipper_length_mm'] / x['body_mass_g'], axis=1)
data

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,bill_length_depth_ratio,flipper_length_body_mass_ratio
0,Adelie,Torgersen,39.10000,18.344828,181.000000,3705.208333,male,2007,2.131391,0.048850
1,Adelie,Torgersen,38.81931,17.400000,186.000000,3705.208333,female,2007,2.230995,0.050200
2,Adelie,Torgersen,40.30000,18.000000,195.000000,3250.000000,female,2007,2.238889,0.060000
4,Adelie,Torgersen,36.70000,19.300000,193.000000,3450.000000,female,2007,1.901554,0.055942
5,Adelie,Torgersen,39.30000,20.600000,190.000000,3650.000000,male,2007,1.907767,0.052055
...,...,...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.80000,19.800000,207.000000,4000.000000,male,2009,2.818182,0.051750
340,Chinstrap,Dream,43.50000,18.100000,202.000000,3400.000000,female,2009,2.403315,0.059412
341,Chinstrap,Dream,49.60000,18.200000,193.000000,3775.000000,male,2009,2.725275,0.051126
342,Chinstrap,Dream,50.80000,18.407576,210.000000,3727.611940,male,2009,2.759733,0.056336
343,Chinstrap,Dream,50.20000,18.407576,195.791045,3775.000000,female,2009,2.727138,0.051865

2.9.3 через Series.apply

In [37]:
data['body_mass_kg'] = data['body_mass_g'].apply(lambda x: x / 1000)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

2.10 сортировка по какому-либо из полей

In [38]:
data.sort_values('bill_length_mm', ascending=False)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,bill_length_depth_ratio,flipper_length_body_mass_ratio,body_mass_kg
185,Gentoo,Biscoe,59.6,17.0,230.0,6050.0,male,2007,3.505882,0.038017,6.050
293,Chinstrap,Dream,58.0,17.8,181.0,3700.0,female,2007,3.258427,0.048919,3.700
253,Gentoo,Biscoe,55.9,17.0,228.0,5600.0,male,2009,3.288235,0.040714,5.600
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009,2.818182,0.051750,4.000
267,Gentoo,Biscoe,55.1,16.0,230.0,5850.0,male,2009,3.443750,0.039316,5.850
...,...,...,...,...,...,...,...,...,...,...,...
18,Adelie,Torgersen,34.4,18.4,184.0,3325.0,female,2007,1.869565,0.055338,3.325
92,Adelie,Dream,34.0,17.1,185.0,3400.0,female,2008,1.988304,0.054412,3.400
70,Adelie,Torgersen,33.5,19.0,190.0,3600.0,female,2008,1.763158,0.052778,3.600
98,Adelie,Dream,33.1,16.1,178.0,2900.0,female,2008,2.055901,0.061379,2.900
142,Adelie,Dream,32.1,15.5,188.0,3050.0,female,2009,2.070968,0.061639,3.050

In [39]:
data.sort_values('bill_length_mm', ascending=True)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,bill_length_depth_ratio,flipper_length_body_mass_ratio,body_mass_kg
142,Adelie,Dream,32.1,15.5,188.0,3050.0,female,2009,2.070968,0.061639,3.050
98,Adelie,Dream,33.1,16.1,178.0,2900.0,female,2008,2.055901,0.061379,2.900
70,Adelie,Torgersen,33.5,19.0,190.0,3600.0,female,2008,1.763158,0.052778,3.600
92,Adelie,Dream,34.0,17.1,185.0,3400.0,female,2008,1.988304,0.054412,3.400
18,Adelie,Torgersen,34.4,18.4,184.0,3325.0,female,2007,1.869565,0.055338,3.325
...,...,...,...,...,...,...,...,...,...,...,...
267,Gentoo,Biscoe,55.1,16.0,230.0,5850.0,male,2009,3.443750,0.039316,5.850
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009,2.818182,0.051750,4.000
253,Gentoo,Biscoe,55.9,17.0,228.0,5600.0,male,2009,3.288235,0.040714,5.600
293,Chinstrap,Dream,58.0,17.8,181.0,3700.0,female,2007,3.258427,0.048919,3.700
185,Gentoo,Biscoe,59.6,17.0,230.0,6050.0,male,2007,3.505882,0.038017,6.050

In [40]:
data.sort_values('island', ascending=True)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,bill_length_depth_ratio,flipper_length_body_mass_ratio,body_mass_kg
172,Gentoo,Biscoe,50.2,14.300000,218.0,5700.000000,male,2007,3.510490,0.038246,5.700000
238,Gentoo,Biscoe,43.4,14.400000,218.0,4600.000000,female,2009,3.013889,0.047391,4.600000
152,Gentoo,Biscoe,46.1,13.200000,211.0,4500.000000,female,2007,3.492424,0.046889,4.500000
153,Gentoo,Biscoe,50.0,16.300000,230.0,5700.000000,male,2007,3.067485,0.040351,5.700000
154,Gentoo,Biscoe,48.7,14.100000,210.0,4450.000000,female,2007,3.453901,0.047191,4.450000
...,...,...,...,...,...,...,...,...,...,...,...
71,Adelie,Torgersen,39.7,18.400000,190.0,3900.000000,male,2008,2.157609,0.048718,3.900000
70,Adelie,Torgersen,33.5,19.000000,190.0,3600.000000,female,2008,1.763158,0.052778,3.600000
69,Adelie,Torgersen,41.8,19.400000,198.0,4450.000000,male,2008,2.154639,0.044494,4.450000
116,Adelie,Torgersen,38.6,17.000000,188.0,2900.000000,female,2009,2.270588,0.064828,2.900000
0,Adelie,Torgersen,39.1,18.344828,181.0,3705.208333,male,2007,2.131391,0.048850,3.705208

2.11 вычислить несколько статистик по колонкам (используйте встроенные агрегатные функции — любые на выбор)

In [41]:
data['bill_length_mm'].min(), data['bill_length_mm'].max(), data['bill_length_mm'].mean(), data['bill_length_mm'].std()

(32.1, 59.6, 43.99074867971421, 5.470479661370786)

2.12 .value_counts()

In [42]:
data.value_counts()

species  island     bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g  sex     year  bill_length_depth_ratio  flipper_length_body_mass_ratio  body_mass_kg
Adelie   Biscoe     34.5            18.1           187.0              2900.0       female  2008  1.906077                 0.064483                        2.90            1
Gentoo   Biscoe     44.0            13.6           208.0              4350.0       female  2008  3.235294                 0.047816                        4.35            1
                    43.6            13.9           217.0              4900.0       female  2008  3.136691                 0.044286                        4.90            1
                    43.5            15.2           213.0              4650.0       female  2009  2.861842                 0.045806                        4.65            1
                                    14.2           220.0              4700.0       female  2008  3.063380                 0.046809                        4.70            1
                                                                                                                                                                         ..
Adelie   Torgersen  36.6            17.8           185.0              3700.0       female  2007  2.056180                 0.050000                        3.70            1
                    36.2            17.2           187.0              3150.0       female  2009  2.104651                 0.059365                        3.15            1
                                    16.1           187.0              3550.0       female  2008  2.248447                 0.052676                        3.55            1
                    35.9            16.6           190.0              3050.0       female  2008  2.162651                 0.062295                        3.05            1
Gentoo   Biscoe     59.6            17.0           230.0              6050.0       male    2007  3.505882                 0.038017                        6.05            1
Length: 333, dtype: int64

2.13 Вывод уникальных значений колонки через .unique()

In [43]:
data['species'].unique()

array(['Adelie', 'Gentoo', 'Chinstrap'], dtype=object)






2.14 Удалите текущий индекс и создайте новый индекс на базе новой колонки, которая для этого лучше всего подходит

In [44]:
data_copy = data.copy()
data_copy.index = data_copy['body_mass_g']
data_copy

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,bill_length_depth_ratio,flipper_length_body_mass_ratio,body_mass_kg
body_mass_g,,,,,,,,,,,
3705.208333,Adelie,Torgersen,39.10000,18.344828,181.000000,3705.208333,male,2007,2.131391,0.048850,3.705208
3705.208333,Adelie,Torgersen,38.81931,17.400000,186.000000,3705.208333,female,2007,2.230995,0.050200,3.705208
3250.000000,Adelie,Torgersen,40.30000,18.000000,195.000000,3250.000000,female,2007,2.238889,0.060000,3.250000
3450.000000,Adelie,Torgersen,36.70000,19.300000,193.000000,3450.000000,female,2007,1.901554,0.055942,3.450000
3650.000000,Adelie,Torgersen,39.30000,20.600000,190.000000,3650.000000,male,2007,1.907767,0.052055,3.650000
...,...,...,...,...,...,...,...,...,...,...,...
4000.000000,Chinstrap,Dream,55.80000,19.800000,207.000000,4000.000000,male,2009,2.818182,0.051750,4.000000
3400.000000,Chinstrap,Dream,43.50000,18.100000,202.000000,3400.000000,female,2009,2.403315,0.059412,3.400000
3775.000000,Chinstrap,Dream,49.60000,18.200000,193.000000,3775.000000,male,2009,2.725275,0.051126,3.775000
3727.611940,Chinstrap,Dream,50.80000,18.407576,210.000000,3727.611940,male,2009,2.759733,0.056336,3.727612
3775.000000,Chinstrap,Dream,50.20000,18.407576,195.791045,3775.000000,female,2009,2.727138,0.051865,3.775000

3 Продемонстрировать работу .groupby, на основе группировок в groupby вычисляете агрегатные функции по одной или нескольким колонкам. Какую информацию о данных вы получили, выполнив данную операцию? Запишите ответ в комментариях.

In [45]:
# average bill length by species 
data[['species', 'bill_length_mm']].groupby('species').mean().sort_values('bill_length_mm', ascending=False).rename(columns={'bill_length_mm': 'avg_bill_length_mm'})

           avg_bill_length_mm
species
Chinstrap           48.833824
Gentoo              47.568067
Adelie              38.819310

In [46]:
# longest bill by species 
data[['species', 'bill_length_mm']].groupby('species').max().sort_values('bill_length_mm', ascending=False).rename(columns={'bill_length_mm': 'max_bill_length_mm'})

           max_bill_length_mm
species
Gentoo                   59.6
Chinstrap                58.0
Adelie                   46.0

4 Решейпинг данных 1Dto2D с помощью .pivot (можно подать на вход результаты агрегатов, полученных ранее через .groupby (сгруппировать по двум полям), либо прекрасно заходит сюда данные из SQL сгруппированные предварительно по 2-м полям). Какую информацию о данных вы получили, выполнив данную операцию? Запишите ответ в комментариях.

In [47]:
# unfortunatelly .pivot does not support data aggregation

5 Решейпинг 1Dto2D данных соединённый с группировкой / агрегацией (одним словом — сводная таблица): .pivot_table. Группируем только по категориальным полям или числовым, если уверены, что значений немного! Если значений много, можете вначале из загрубить (см. (2.9.) либо (7)).
Перед тем как выполнять задание сформулируйте вопрос, на который собираетесь получить ответ с помощью сводной таблицы. Запишите этот вопрос в комментариях. Какую информацию о данных вы в результате получили?
https://pbpython.com/pandas-pivot-table-explained.html

In [48]:
# average bill length of each species on each island
pd.pivot_table(data, index='species', columns='island', values='bill_length_mm', aggfunc=np.mean)

island        Biscoe      Dream  Torgersen
species
Adelie     38.975000  38.520000  39.023815
Chinstrap        NaN  48.833824        NaN
Gentoo     47.568067        NaN        NaN

6 Посчитать квантили распределения какого-либо вещественного признака (с помощью numpy.quantile или numpy.percentile)

In [49]:
np.quantile(data['bill_length_mm'], 0.5)

44.5


7 Посчитать гистограмму какого-либо вещественного признака (с помощью numpy.histogram). Значения гистограммы можете использовать как вариант в качестве загрубленного числового признака для заданий (4) или (5).

In [50]:
np.histogram(data['bill_length_mm'])

(array([ 8, 39, 55, 47, 47, 53, 61, 16,  5,  2]),
 array([32.1 , 34.85, 37.6 , 40.35, 43.1 , 45.85, 48.6 , 51.35, 54.1 ,
        56.85, 59.6 ]))


8 Получить DataFrame с MultiIndex любым способом: через конструктор (в документации увидите множество видов конструкторов для создания MultiIndex с нуля), через read_sql / read_csv / read_excel, read_*, через pivot_table, через groupby или иными способами.

In [51]:
multi_indexed_data = data_copy.groupby(['species', 'island']).mean()
multi_indexed_data

                     bill_length_mm  bill_depth_mm  flipper_length_mm  \
species   island
Adelie    Biscoe          38.975000      18.370455         188.795455
          Dream           38.520000      18.240000         189.927273
          Torgersen       39.023815      18.443507         191.531915
Chinstrap Dream           48.833824      18.407576         195.791045
Gentoo    Biscoe          47.568067      15.002564         217.296610

                     body_mass_g         year  bill_length_depth_ratio  \
species   island
Adelie    Biscoe     3709.659091  2008.136364                 2.126299
          Dream      3701.363636  2008.018182                 2.115485
          Torgersen  3705.540780  2008.021277                 2.124007
Chinstrap Dream      3727.611940  2007.970588                 2.655648
Gentoo    Biscoe     5087.711864  2008.067227                 3.175271

                     flipper_length_body_mass_ratio  body_mass_kg
species   island
Adelie    Biscoe                           0.051653      3.709659
          Dream                            0.051954      3.701364
          Torgersen                        0.052337      3.705541
Chinstrap Dream                            0.052955      3.727612
Gentoo    Biscoe                           0.043033      5.087712

9 Переставить местами уровни индекса

In [52]:
multi_indexed_data.swaplevel()

,,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,year,bill_length_depth_ratio,flipper_length_body_mass_ratio,body_mass_kg
island,species,,,,,,,,
Biscoe,Adelie,38.975000,18.370455,188.795455,3709.659091,2008.136364,2.126299,0.051653,3.709659
Dream,Adelie,38.520000,18.240000,189.927273,3701.363636,2008.018182,2.115485,0.051954,3.701364
Torgersen,Adelie,39.023815,18.443507,191.531915,3705.540780,2008.021277,2.124007,0.052337,3.705541
Dream,Chinstrap,48.833824,18.407576,195.791045,3727.611940,2007.970588,2.655648,0.052955,3.727612
Biscoe,Gentoo,47.568067,15.002564,217.296610,5087.711864,2008.067227,3.175271,0.043033,5.087712

10 Транспонировать таблицу (или создать новую другую) с MultiIndex

In [53]:
multi_indexed_data.T.head(n)

species                              Adelie                            \
island                               Biscoe        Dream    Torgersen
bill_length_mm                    38.975000    38.520000    39.023815
bill_depth_mm                     18.370455    18.240000    18.443507
flipper_length_mm                188.795455   189.927273   191.531915
body_mass_g                     3709.659091  3701.363636  3705.540780
year                            2008.136364  2008.018182  2008.021277
bill_length_depth_ratio            2.126299     2.115485     2.124007
flipper_length_body_mass_ratio     0.051653     0.051954     0.052337

species                           Chinstrap       Gentoo
island                                Dream       Biscoe
bill_length_mm                    48.833824    47.568067
bill_depth_mm                     18.407576    15.002564
flipper_length_mm                195.791045   217.296610
body_mass_g                     3727.611940  5087.711864
year                            2007.970588  2008.067227
bill_length_depth_ratio            2.655648     3.175271
flipper_length_body_mass_ratio     0.052955     0.043033

11 Удалить один из уровней индекса или добавить новый уровень индекса (можно инициализированный константой)

In [54]:
multi_indexed_data.reset_index(level=0)

,species,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,year,bill_length_depth_ratio,flipper_length_body_mass_ratio,body_mass_kg
island,,,,,,,,,
Biscoe,Adelie,38.975000,18.370455,188.795455,3709.659091,2008.136364,2.126299,0.051653,3.709659
Dream,Adelie,38.520000,18.240000,189.927273,3701.363636,2008.018182,2.115485,0.051954,3.701364
Torgersen,Adelie,39.023815,18.443507,191.531915,3705.540780,2008.021277,2.124007,0.052337,3.705541
Dream,Chinstrap,48.833824,18.407576,195.791045,3727.611940,2007.970588,2.655648,0.052955,3.727612
Biscoe,Gentoo,47.568067,15.002564,217.296610,5087.711864,2008.067227,3.175271,0.043033,5.087712

12 Продемонстировать работу .merge

In [55]:
df1 = pd.DataFrame({'a': ['foo', 'bar'], 'b': [1, 2]})
df2 = pd.DataFrame({'a': ['foo', 'baz'], 'c': [3, 4]})
df1.merge(df2, how='outer')

     a    b    c
0  foo  1.0  3.0
1  bar  2.0  NaN
2  baz  NaN  4.0


13 Продемонстрировать работу с .concat или append

In [56]:
df1 = pd.DataFrame({'a': ['foo', 'bar'], 'b': [1, 2]})
df2 = pd.DataFrame({'a': ['foo', 'baz'], 'b': [3, 4]})
df1.append(df2, ignore_index=True)

     a  b
0  foo  1
1  bar  2
2  foo  3
3  baz  4

In [57]:
pd.concat([df1, df2], axis=0, ignore_index=True)

     a  b
0  foo  1
1  bar  2
2  foo  3
3  baz  4

In [58]:
df2

     a  b
0  foo  3
1  baz  4

14 Проитерировать dataframe построчно .iterrows(). Выполните что-то имеющее смысл внутри цикла

In [59]:
for i, (index, row) in enumerate(data.iterrows()):
    if row['bill_length_mm'] == 50.:
        print(row['species'])

Gentoo
Gentoo
Gentoo
Gentoo
Chinstrap